*{
padding: 0;
margin: 0;
}


.blog-image {
  border: 2px solid red;
}

.shift-down {
  position: absolute;
  top: 20rem;
}

.body {
  width: 100%;
  height: 100vh;
  background: url("../img/bolo89/blog-image.jpg") top center;
  background-size: contain;
  position: relative;
  padding: 0;
  background-repeat: no-repeat;
}

#header {
  background: rgba(12, 11, 9, 0.6);
  border-bottom: 1px solid rgba(12, 11, 9, 0.6);
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  top: 40px;
  width: 100%;
}

.content-box {
  box-shadow: 5px 5px 5px 5px rgba(253, 141, 100, 0.2);
    background-color: rgba(253, 141, 100, 0.4);
    width: 50%;
    height: 25%;
    position: absolute;
    top: 11rem;
    left: 15rem;
    display: flex;
    justify-items: center;
    color: #000;
}

.content-box h2 {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-size: 2rem;
    bottom: 7rem;
    position: relative;
}

.order-list {
  position: absolute;
    top: 6rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.order-list a {
  color: #000;
  
}

.order-list a:hover {
  color: #fff;
}

.first-div {
  color: #000;
    position: absolute;
    box-shadow: 5px 5px 5px 5px rgba(26, 26, 124, 0.2);
    top: 44rem;
    background-color: rgba(231, 231, 238, 0.5);
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.first-div h2 {
  font-weight: 700;
  font-size: 2rem;
  color: rgb(253, 141, 100);
}

.first-div h3 {
  font-weight: 500;
  font-size: 2rem;
  color: rgb(253, 141, 100);
}

.grid-span {
  background-color: rgba(253, 141, 100, 0.4);
  font-weight: 600;
}

.grid-bold {
  color: rgb(253, 141, 100);
  font-weight: 500;
  font-size: 1.5rem;

}

.first-div h4 {
  font-weight: 700;
  font-size: 1.7rem;
  color: rgb(253, 141, 100);
}

 .home-blog {
    display: block;
    color: #fff;
  }

@media screen and (min-width: 1024px) {
  .body {
    width: 100%;
    height: 100vh;
    background: url(../img/bolo89/blog-image.jpg) top center;
    background-size: cover;
    position: relative;
    padding: 0;
    background-repeat: no-repeat;
}

.first-div {
  top: 44rem;
  width: 90%;
  right: 4rem;
}

.content-box h2 {
  bottom: 2rem;
}

.content-box {
  position: absolute;
  top: 14rem;
  left: 15rem;
}

}

@media screen and (min-width: 1280px) {
  .first-div {
    top: 57rem;
  }

  .content-box {
    left: 18rem;
  }


}

/* mobile responsive */
@media screen and (max-width: 768px) {

  .mobile-nav-toggle {
    display: block;
  }

  .mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
  }

  .body {
    background-size: 100% auto;
  }

  #header {
    padding: 10px 0;
    top: 40px;
    width: 100%;
  }

  .content-box h2 {
    font-size: 1rem;
    bottom: 7rem;
    right: 8rem;
  }

  .content-box {
    width: 60%;
    height: 15%;
    position: absolute;
    top: 8rem;
    left: 4rem;
    display: flex;
    color: white;
  }

  .order-list a {
    color: white;
  }

  .order-list {
    position: absolute;
    top: 3rem;
    font-weight: bold;
    font-size: 0.7rem;
  }

  .content-box h2 {
    font-size: 1rem;
    bottom: 1.5rem;
    right: 0rem;
  }

  .first-div {
    top: 16rem;
  }

  .home-blog {
    display: block;
    color: #fff;
    font-weight: 500;
    font-size: 1.3rem;
    padding-right: 3rem;
  }

}

@media screen and (max-width: 768px) {
  .first-div {
    top: 22.5rem;
  }

  .content-box {
    width: 60%;
    left: 5rem;
  }
}


@media screen and (max-width: 540px) {
  .content-box {
    width: 60%;
    left: 3rem;
    height: 12%;
    top: 7rem;
    /* top: 1116rem; */
  }

  .order-list {
    top: 2rem;
  }

  .first-div {
    top: 16.5rem;
  }
}

